*,*::after,*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* ---------- Variables --------------*/
:root {
    /*Colores*/
    --accent-color:#ff0000;
    --gray-color:#909090;
    --gray-color-alt:#ccc;

    /*font-family*/
    --body-font:'Roboto', sans-serif;
    --icon-font:'icomoon';

    /*Tamaño texto*/
    --big-font-size:1.125rem; /*18px*/
    --normal-font-size:1rem; /*16px*/
    --small-font-size:0.875rem; /*14px*/
    --smaller-font-size:0.75rem; /*12px*/
    --font-bold:500;

    /*Otros*/
    --header-height:56px;
    --z-tooltip:25;
    --z-fixed:100;
}
/* ------------ General --------------*/
body {
    font-family: var(--body-font);
}
h1,h2,h3,h4,h5,h6 {
    font-weight: var(--font-bold);
}
button {
    font-family: var(--body-font);
}

/* ---------- Cabecera principal -------- */
.main-header {
    height: var(--header-height);
    background-color: var(--accent-color);
    display: flex;
    justify-content: space-between;
    padding: 0 1rem;
    align-items: center;
    position: fixed;
    width: 100%;
    top:0;
    left:0;
    z-index: var(--z-fixed);
}