*,*::after,*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* ---------- Variables --------------*/
:root {
    /*Colores*/
    --accent-color:#ff0000;
    --gray-color:#909090;
    --gray-color-alt:#ccc;
    --text-color-alt:#606060;
    --text-color:#030303;
    --bg-color-active:#e5e5e5;
    --text-color-white:#fff;
    --border-color:rgba(0, 0, 0, 0.1);
    --bg-color-alt:#f9f9f9;

    /*font-family*/
    --body-font:'Roboto', sans-serif;
    --icon-font:'icomoon';

    /*Tamaño texto*/
    --big-font-size:1.125rem; /*18px*/
    --normal-font-size:1rem; /*16px*/
    --small-font-size:0.875rem; /*14px*/
    --smaller-font-size:0.75rem; /*12px*/
    --font-bold:500;

    /*Otros*/
    --header-height:56px;
    --z-tooltip:25;
    --z-fixed:100;
    --border-radius:2px;
    --transition-time:0.25s;
    --sidebar-width:240px;

    /*Scroll*/
    --scroll-size:16px;
    --scroll-bg:transparent;
    --scroll-radius:8px;
    --scroll-padding:4px;
    --thumb-bg:var(--gray-color);
    --thumb-bg-alt:var(--gray-color-alt);
}
/* ------------ General --------------*/
body {
    font-family: var(--body-font);
    background-color: var(--bg-color-alt);
    line-height: 1.15rem;
    padding-top: var(--header-height);
    padding-left: var(--sidebar-width);
}
h1,h2,h3,h4,h5,h6 {
    font-weight: var(--font-bold);
}
button {
    font-family: var(--body-font);
}
hr {
    --spacing:0.75rem;
    border: none;
    border-bottom: 1px solid var(--border-color);
    margin-bottom: var(--spacing);
    padding-top: var(--spacing);
}
hr.big {
    margin-bottom: 1rem;
}
img {
    width: 100%;
}
/*----------------  scroll ---------------*/
.scroll::-webkit-scrollbar {
    width: var(--scroll-size); /*Scroll Y*/
    height: var(--scroll-size); /*Scroll Y*/
}
.scroll::-webkit-scrollbar-thumb{
    background-color: var(--thumb-bg);
    border-radius: var(--scroll-radius);
    border: var(--scroll-padding) solid transparent;
    background-clip: content-box;
}
.scroll::-webkit-scrollbar-thumb:hover{
    background-color: var(--thumb-bg-alt);
}
.scroll:not(body)::-webkit-scrollbar-thumb {
    display: none;
    background-color: var(--thumb-bg-alt);
}
.scroll:not(body)::-webkit-scrollbar-thumb:hover {
    display: block;
}
/* ---------- Cabecera principal -------- */
.flex {
    display: flex;
}
.place-center {
    display: flex;
    justify-content: center;
    align-items: center ;
}
.buttons-container {
    display: flex;
    gap: 0.5rem;
}
/* ---- Clases para recortar lineas de texto ----*/
[class*="rows-text"] {
    display: -webkit-box;
    -webkit-line-clamp: var(--rows);
    -webkit-box-orient: vertical;
    overflow: hidden;
}
.rows-text-1 {
    --rows:1;
}
.rows-text-2 {
    --rows:2;
}
.rows-text-3 {
    --rows:3;
}
.main-header {
    background-color: var(--text-color-white);
    height: var(--header-height);
    display: flex;
    justify-content: space-between;
    padding: 0 1rem;
    align-items: center;
    position: fixed;
    width: 100%;
    top:0;
    left:0;
    z-index: var(--z-fixed);
}
.main-header .logo {
    width: 6rem;
}
.main-header .start .action-button{
    margin-right: 1rem;
}
.main-header .middle {
    flex-basis: 720px;
    padding: 0 2rem;
}
.main-header .input {
    flex-grow: 1;
    padding: 0.5rem;
    border: 1px solid var(--border-color);
    border-right: 0;
    border-radius: var(--border-radius) 0 0 var(--border-radius);
}
.main-header .form-search {
    flex-grow: 1;
    align-items: stretch;
}
.main-header .submit {
    padding: 0 1.5rem;
    border: 1px solid var(--border-color);
    font-size: 1.25rem;
    color: var(--text-color-alt);
    cursor: pointer;
}
.main-header .user {
    padding: 0 1.7rem;
}
/* -------- Avatar Usuario -----------*/
.user-avatar {
    --size:2rem;
    width: var(--size);
    height: var(--size);
    cursor: pointer;
    flex:none;
}
.user-avatar .image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
}
/*Botones de accion*/
.action-button,
.action-button .icon {
    --size: 2.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    height: var(--size);
    border: 1px solid transparent;
    background: none;
    cursor: pointer;
    transition: border-color var(--transition-time);
}

.action-button.has-text {
    text-transform: uppercase;
    color: var(--text-color-alt);
    font-weight: var(--font-bold);
    font-size: var(--small-font-size);
}

.action-button.has-text .icon {
    --size: 2.25rem;
    color: var(--gray-color);
}

.action-button:not(.has-text),
.action-button .icon {
    width: var(--size);
    border-radius: 50%;
}

.action-button::before,
.action-button .icon {
    color: var(--text-color-alt);
    font-size: 1.5rem;
}

.action-button:not(.has-text):active,
.action-button .icon:active {
    background-color: var(--bg-color-active);
    border-color: var(--bg-color-active);
}
/* -------- Tooltip -------*/
[data-tooltip] {
    position: relative;
}
[data-tooltip]::after {
    content: attr(data-tooltip);
    position: absolute;
    padding: 0.5rem;
    background-color: var(--text-color-alt);
    color: var(--text-color-white);
    font-family: var(--body-font);
    border-radius: var(--border-radius);
    pointer-events: none;
    left: 50%;
    transform: translateX(-50%);
    white-space: nowrap;
    top: 3.5rem;
    opacity: 0;
    transition: opacity var(--transition-time);
    font-size: var(--smaller-font-size);
    z-index: var(--z-tooltip);
}
[data-tooltip]:hover::after {
    opacity: 1;
}
/* -------- Boton BAsico -----------*/
.button {
    --button-color:#CC0000;
    --text-button-color: var(--bg-color-active);
    --cursor-button:pointer;
    padding: 0.5rem;
    text-transform: uppercase;
    font-weight: var(--font-bold);
    border: none;
    font-size: var(--small-font-size);
    border-radius: var(--border-radius);
    background-color: var(--button-color);
    cursor: var(--cursor-button);
    color: var(--text-button-color);
}
.button[disabled] {
    --button-color:var(--bg-color-active);
    --text-button-color: var(--gray-color);
    --cursor-button:initial;
}
.button.link {
    --text-button-color:var(--text-color-alt);
    --button-color:transparent;
}
/* ------ Menu Lateral --------*/

.main-sidebar {
    --main-nav-padding:0.5rem 1.5rem;
    top: var(--header-height);
    position: fixed;
    background-color: var(--text-color-white);
    height: calc(100vh - var(--header-height));
    width: var(--sidebar-width);
    padding: 0.75rem 0;
    overflow: auto;
    left: 0;
    z-index: 1;
}
/* items de la navegacion */
.main-nav .link {
    padding: var(--main-nav-padding);
    color: var(--text-color);
    font-size: var(--small-font-size);
    text-decoration: none;
    display: flex;
    align-items: center;
    white-space: nowrap;
}
.main-nav .link .icon {
    font-size: 1.5rem;
    color: var(--text-color-alt);
    margin-right: 1.5rem;
}
.main-nav .link.is-active,
.main-nav .link:hover {
    background-color: var(--bg-color-alt);
}
.main-nav .link.link.is-active {
    font-weight: var(--font-bold);
}
/*iconos de la navegacion*/
.main-nav .link .icon {    
    font-size: 1.5rem;
    color: var(--text-color-alt);
}
.main-nav .link.is-in-live::after,
.main-nav .link.is-new::after {
    font-family: var(--icon-font);
    margin-left: auto;
}
.main-nav .link.is-in-live::after {
    content :'\e911';
    color: var(--accent-color);
}
.main-nav .link.is-new::after {
    content:'\e91b';
    color: #065FD4;
    font-size: 0.5rem;
}
.main-nav .link.is-active .icon {
    color: var(--accent-color);
}
.main-nav .link .user-avatar {
    --size:1.5rem;
}
.main-nav .link .icon,
.main-nav .link .user-avatar{
    margin-right: 1.5rem;
}
/*Titulo de secciones en navegacion lateral*/
.nav-title {
    text-transform: uppercase;
    color: var(--text-color-alt);
    font: var(--small-font-size);
    padding: var(--main-nav-padding);
}
/* ---------- Footer nav ----------*/
.main-nav-footer {
    padding: var(--main-nav-padding);
    display: grid;
    gap: 0.75rem;
}
.main-nav-footer .container{
    font-size: var(--smaller-font-size);
}
.main-nav-footer .link-footer {
    text-decoration: none;
    font-weight: var(--font-bold);
    color: var(--text-color-alt);
    margin-right: 0.5rem;
    line-height: 1.2rem;
    font-weight: 600;
}
.copyrigth {
    opacity: 0.6;
    color: var(--text-color-alt);
    margin: 0;
    font-size: var(--small-font-size);
}

/* ------------- tarjeta de video -------------*/
.card-video {
    /*max-width: 300px;*/
}
.card-video a {
    text-decoration: none;
    color: inherit;
}
.card-video .cover {
    position: relative;
    display: block;
    aspect-ratio: 16/9;
    margin-bottom: 0.75rem;
}
.card-video .image {
    display: block;
    height: 100%;
    object-fit: cover;
}
.card-video .time {
    position: absolute;
    right: .3rem;
    bottom: .3rem;
    background:rgba(0, 0, 0, 0.8);
    color: var(--text-color-white);
    font-size: var(--smaller-font-size);
    padding: 0 0.25rem;
    border-radius: var(--border-radius);
}
.card-video .user-avatar {
    --size:36px;
    margin-right: 0.75rem;
}
.card-video .content {
    font-size: var(--small-font-size);
    color: var(--text-color-alt);
}
.card-video .title {
    color: var(--text-color);
    margin-bottom: 0.25rem;

}
/* --------- Informacion del video ---------*/
.video-information .views {
    display: inline-flex;
}
.video-information .views::after{
    content:'\e91b';
    font-family: var(--icon-font);
    font-size: 0.25rem;
    padding: 0 0.25rem;
}

/* ------------ Grid de video ------------*/
.card-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(247px,1fr));
    gap: 2rem 1rem ;
    padding: 1rem 2rem;
    margin-inline: auto;
}

/* --------- pagina de video -----------*/
body.video-page {
    padding-left: .6rem;
}
.video-page-grid {
    --gap-page: 1.5rem;
    width: calc(100% - (var(--gap-page) * 2));
    max-width: 1600px;
    display: grid;
    gap: var(--gap-page);
    grid-template-columns: repeat(12, 1fr);
    margin-inline: auto;
    padding-top: var(--gap-page);
}
.video-column {
    grid-column-start: span 8;
}
.video-player .video {
    aspect-ratio: 16/9;
    width: 100%;
    margin-bottom: 1rem;
}
.cards-sidebar {
    background-color: #065FD4;
    grid-column-start: span 3;
}
.video-player .title {
    font-weight: normal;
    font-size: var(--big-font-size);
}
.video-player .video-information {
    font-size: var(--small-font-size);
    color: var(--text-color-alt);
}
.video-player .actions {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.video-player .buttons-container.likes {
    border-bottom: 2px solid var(--gray-color);
}
.video-player .border {
    padding-top: 0;
}
/*Estilos para la informacion del video*/
.video-player-information {
    gap: 1rem;
    color: var(--text-color);
}
.video-player-information .user-avatar {
    --size: 3rem;
}
.video-player-information .content {
    width: 100%;
}
.video-player-information .channel-name {
    color: inherit;
    text-decoration: none;
    font-size: var(--small-font-size);
    font-weight: var(--font-bold);
}
.video-player-information .subs-count {
    color: var(--text-color-alt);
    font-size: var(--smaller-font-size);
}
.video-player-information .header {
    margin-bottom: 1rem;
}
.video-player-information .header .button {
    margin-left: auto;
}
.video-player-information .caption {
    max-width: 600px;
    line-height: 1.25rem;
    font-size: var(--small-font-size);
}
/* ------- section comments --------*/
.comments-information {
    align-items: center;
    margin-bottom: 0.5rem;
}
.comment-form {
    gap: 1rem;
}
.comment-form .form {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}
.comment-form .input {
    position: relative;
    margin-bottom: 1rem;
    padding: 0.5rem 0;
    font-size: var(--small-font-size);
    box-shadow: 0 -1px inset var(--gray-color);
    outline: none;
}
.comment-form .input:empty::before {
    content: 'Añadir comentario...';
    color: var(--text-color-alt);
}
.comment-form .input:not(:empty) ~ .buttons-container .button[disabled] {
    background-color: #065fd4;
    color: var(--text-color-white);
}
.comment-form .input:after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 0;
    height: 2px;
    background-color: #000;
    transition: left var(--transition-time), width var(--transition-time);
}
.comment-form .input:focus::after {
    width: 100%;
    left: 0;
}
.comment-form .user-avatar {
    --size: 2.5rem;
}
.comment-form .buttons-container {
    margin-left: auto;
}
